@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #546A7B, #236191);
    }

    section#login {
        width: 80vw;
        height: 350px;
    }

    section#login > div#img {
        float: left;
        width: 40%;
        height: 100%;
    }

    section#login > div#forms {
        float: right;
        width: 60%;
    }

    section#login > div#forms > p {
        font-size: 16px;
    }

    section#login > div#forms > h1 {
        font-size: 32px;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #546A7B, #236191);
    }

    section#login {
        width: 990px;
        height: 350px;
    }

    section#login > div#img {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#forms {
        float: left;
        width: 50%;
    }

    section#login > div#forms > p {
        font-size: 16px;
    }

    section#login > div#forms > h1 {
        font-size: 32px;
    }
}