@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #546A7B;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    background-color: #E8E9F3;
    width: 250px;
    height: 515px;
    border-radius: 16px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.363);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#img {
    display: block;
    background: #546A7B url(../img/fundo\ pixel.jpg) no-repeat center center;
    background-size: cover;
    height: 200px;
}

section#login > div#forms {
    display: block;
    padding: 16px;
}

section#login > div#forms > h1 {
    font-size: 24px;
    margin-bottom: 8px;
}

section#login > div#forms > p {
    font-size: 12px;
}

div.campo > label {
    display: none;
}

form > div.campo {
    background-color: #7891a3;
    width: 100%;
    height: 40px;
    display: block;
    border-radius: 8px;
    margin: 5px 0;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #546A7B;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition-timing-function: ease-in-out;
}

form > input[type=submit]:hover {
    background-color: #597e9b;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 12px;
    margin-top: 8px;
    color: white;
    background-color: #7891a3;
    border-radius: 24px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #6193b9;
}

form > a.botao > span {
    font-size: 0.8em;
}